entry {
  padding: 3px;
  border: 1px solid;
  border-color: shade(@button_bg_color, 0.7);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 0px;
  box-shadow: 1px 1px shade(@button_bg_color, 0.2) inset, -1px -1px @theme_bg_color inset;
  color: @theme_text_color;
  caret-color: @theme_text_color;
  background-color: @theme_base_color; }
  entry:selected, entry:selected:focus, entry selection, entry selection:focus {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color; }
  entry:disabled {
    background-color: @bg_color;
    color: @theme_disabled_text_color; }
  entry.read-only {
    background-color: mix(@theme_bg_color, @theme_disabled_bg_color, 0.1); }

  entry > image.left {
    padding-right: 5px; }
  entry > image.right {
    padding-left: 5px; }

spinbutton.horizontal entry {
margin-right: -47px;
padding-right: 47px;
}

spinbutton.vertical entry {
margin-top: 2px;
margin-bottom: 1px;
}

combobox entry {
margin-right: -23px;
}

combobox entry:disabled {
background-color: @bg_color;
color: shade(@bg_color, 0.7);
}