progressbar {
  padding: 0;
  border: none;
  color: mix(@theme_fg_color, @theme_selected_fg_color, 0.5);
  background-color: transparent; }
  progressbar progress {
    border: none;
    border-radius: 0px;
    background-color: @theme_selected_bg_color; }
  progressbar trough {
  padding: 1px;
  border: 1px solid shade(@theme_bg_color,0.7);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 0px;
  box-shadow: 1px 1px shade(@button_bg_color, 0.3) inset, -1px -1px @theme_bg_color inset;
    background-color: @theme_base_color; }
  progressbar.horizontal trough, progressbar.horizontal progress {
    min-height: 18px; }
  progressbar.vertical trough, progressbar.vertical progress {
    min-width: 18px; }