button:link > label,
button:visited > label {
text-decoration-line: underline; }

button:link > label,
button:visited > label, *:link, button:link,
button:visited {
color: @selected_bg_color; }


.linked button, .linked .raised button {
margin-left: 1px;
 }

.vertical.linked button {
margin-left: 1px;
}
button {
  padding: 4px 6px 4px 6px;
  border-radius: 0px;
  color: @theme_fg_color;
    border-top: 1px solid @button_bg_color;
    border-left: 1px solid @button_bg_color;
    border-right: 1px solid @borders;
    border-bottom: 1px solid @borders;
    border-radius: 0px;
    background-color: @button_bg_color;
    box-shadow: inset -1px 0 shade(@button_bg_color, 0.65), inset 0 -1px shade(@button_bg_color, 0.65), inset 1px 0 @light_shadow, inset 0 1px @light_shadow;
  outline-color: @theme_fg_color;
  outline-offset: -1px;
  outline-style: solid; }
  button:active {
    color: @theme_fg_color;
    box-shadow: 1px 1px shade(@button_bg_color, 0.7) inset, -1px -1px shade(@button_bg_color, 0.9) inset;
    border-color: @borders;
    background-color: @button_bg_color;
}
  button:checked {
    color: @theme_fg_color;
    box-shadow: 1px 1px shade(@button_bg_color, 0.7) inset, -1px -1px shade(@button_bg_color, 0.9) inset;
    border-color: @borders;
    background-color: @button_bg_color;
}
    button:checked:disabled {
      color: mix(@theme_fg_color, @theme_unfocused_disabled_fg_color, 0.1);
      border-color: mix(@theme_fg_color, @theme_disabled_bg_color, 0.85);
      background-color: shade(@theme_disabled_bg_color, 0.9); }
  button:disabled {
    color: mix(@theme_fg_color, @theme_unfocused_disabled_fg_color, 0.5); }
button.flat {
  outline-color: transparent;
  margin: 0px;
  border: transparent 1px solid;
  border-radius: 0px;
  color: @theme_fg_color;
  box-shadow: none;
  background-color: transparent; }
button.flat:hover {
      color: @toolbar_fg_color;
  border-color: @button_bg_color;
  border-bottom: 1px solid @borders;
  border-right: 1px solid @borders;
      background-color: @button_bg_color;
      box-shadow: inset -1px -1px shade(@button_bg_color, 0.65), inset 1px 1px @light_shadow; }
button.flat:active {
    color: @theme_fg_color;
    box-shadow: 1px 1px shade(@button_bg_color, 0.7) inset, -1px -1px shade(@button_bg_color, 0.9) inset;
    border-color: @borders;
    background-color: @button_bg_color; }
button.flat:checked {
    color: @theme_fg_color;
    box-shadow: 1px 1px shade(@button_bg_color, 0.7) inset, -1px -1px shade(@button_bg_color, 0.9) inset;
    border-color: @borders;
    background-color: @button_bg_color; }
button.flat:disabled {
  border-color: transparent;
  border-radius: 2px;
  color: @theme_fg_color;
  box-shadow: none;
  background-color: transparent; }

button.circular, button.circular-button {
  padding: 0;
  min-width: 16px;
  min-height: 24px;
  padding: 2px 6px;
  border-radius: 50%;
  -gtk-outline-radius: 50%; }


checkbutton.text-button :disabled, radiobutton.text-button :disabled {
  color: @disabled_fg_color;
  outline-offset: 0; }

combobox button {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
}

notebook tab button, notebook tab button:hover, notebook tab button:focus, 
notebook tab button:active, notebook tab button:checked, notebook tab button:active:hover,
notebook tab button:checked:hover, notebook tab button:backdrop, notebook tab:checked button,
notebook tab:checked button:hover, notebook tab:checked button:focus, notebook tab:checked button:active,
notebook tab:checked button:checked, notebook tab:checked button:active:hover, notebook tab:checked button:checked:hover,
notebook tab:checked button:backdrop {
      border-color: transparent;
      background-color: transparent;
      color: @theme_fg_color; }

notebook button.flat {
  border-color: transparent;
  border-radius: 2px;
  color: @theme_fg_color;
  box-shadow: none;
  background-color: transparent; }
notebook button.flat:hover {
  border-color: transparent;
  border-radius: 2px;
  color: @theme_fg_color;
  box-shadow: none;
  background-color: transparent; }
notebook button.flat:active {
  border-color: transparent;
  border-radius: 2px;
  color: @theme_fg_color;
  box-shadow: none;
  background-color: transparent; }
notebook button.flat:disabled {
    border-color: transparent;
    color: alpha(@theme_fg_color, 0.8);
    background-color: transparent; }

button.sidebar-button:hover, button.sidebar-button:active {
  color: @theme_fg_color; }
button.sidebar-button:not(:hover):not(:active) > image {
  opacity: 0.5; }

spinbutton {
color: @theme_text_color;
}

spinbutton:not(.vertical) selection, spinbutton:not(.vertical) selection:focus {
  color: @theme_selected_fg_color;
  background-color: @theme_selected_bg_color; }
spinbutton button:disabled, spinbutton entry:disabled {
  color: @theme_disabled_fg_color; }
  spinbutton button:disabled:backdrop, spinbutton entry:disabled:backdrop {
    color: @theme_unfocused_disabled_fg_color; }

spinbutton.horizontal button.down {
margin-left: 9px;
margin-top: 2px;
margin-bottom: 1px;
padding: 0px;
}

spinbutton.horizontal button.up {
margin-top: 2px;
margin-bottom: 1px;
padding: 0px;
}

spinbutton.vertical button.up {
padding: 1px;
margin-left: -1px;
margin-right: -1px;
}

spinbutton.vertical button.down {
padding: 1px;
margin-left: -1px;
margin-right: -1px;
}

toolbar button.flat {
  outline-color: transparent;
  margin: 0px;
  border: transparent 1px solid;
  border-radius: 0px;
  color: @theme_fg_color;
  box-shadow: none;
  background-color: transparent; }
    toolbar button.flat:hover {
      color: @toolbar_fg_color;
  border-color: @button_bg_color;
  border-bottom: 1px solid @borders;
  border-right: 1px solid @borders;
      background-color: @button_bg_color;
      box-shadow: inset -1px -1px shade(@button_bg_color, 0.65), inset 1px 1px @light_shadow; }
    toolbar button.flat:active {
    color: @theme_fg_color;
    box-shadow: 1px 1px shade(@button_bg_color, 0.7) inset, -1px -1px shade(@button_bg_color, 0.9) inset;
    border-color: @borders;
    background-color: @button_bg_color; }
    toolbar button.flat:checked {
    color: @theme_fg_color;
    box-shadow: 1px 1px shade(@button_bg_color, 0.7) inset, -1px -1px shade(@button_bg_color, 0.9) inset;
    border-color: @borders;
    background-color: @button_bg_color; }
    toolbar button.flat:disabled {
  border-color: transparent;
  border-radius: 2px;
  color: @theme_fg_color;
  box-shadow: none;
  background-color: transparent; }


  .primary-toolbar button {
  margin-top: 1px;
  outline-color: transparent;
  border: 1px solid transparent;
  border-radius: 0px;
  color: @theme_fg_color;
  box-shadow: none;
}

.primary-toolbar .raised button {
 border-color: transparent;
  border-radius: 0px;
  color: @theme_fg_color;
  box-shadow: none;
}
    .primary-toolbar button:active, .primary-toolbar .raised button:hover {
      color: @toolbar_fg_color;
  border-color: @button_bg_color;
  border-bottom: 1px solid @borders;
  border-right: 1px solid @borders;
      background-color: @button_bg_color;
      background-image: none;
      box-shadow: inset 1px 1px @light_shadow, inset -1px -1px shade(@button_bg_color, 0.65); }
    .primary-toolbar button:active, .primary-toolbar .raised button:active {
    color: @theme_fg_color;
    box-shadow: 1px 1px shade(@button_bg_color, 0.7) inset, -1px -1px shade(@button_bg_color, 0.9) inset;
    border-color: @borders;
    background-color: @button_bg_color;}
    .primary-toolbar button:checked, .primary-toolbar .raised button:checked {
    color: @theme_fg_color;
    box-shadow: 1px 1px shade(@button_bg_color, 0.7) inset, -1px -1px shade(@button_bg_color, 0.9) inset;
    border-color: @borders;
    background-color: @button_bg_color; }
      .primary-toolbar button:checked:disabled, .primary-toolbar .raised button:checked:disabled {
 border-color: transparent;
  border-radius: 0px;
  color: @theme_fg_color;
  box-shadow: none;
}

    .primary-toolbar button:disabled, .primary-toolbar .raised button:disabled {
      color: mix(@toolbar_fg_color, @theme_unfocused_disabled_fg_color, 0.5); }


  treeview header button {
    border-width: 0 1px 1px 0;
    border-radius: 0;
    box-shadow: none; }
    treeview header button, treeview header button:active, treeview header button:focus, treeview header button:active:focus {
      box-shadow: none;
      background-image: none;
      background-color: @button_bg_color; }
    treeview header button:hover, treeview header button:active:hover, treeview header button:hover:focus, treeview header button:active:hover:focus {
      box-shadow: none;
      color: @theme_fg_color;
      background-color: @button_bg_color; }
  treeview header:last-child button {
    padding: 1px;
    margin-top: -1px;
    border-image: url("assets/header.png");
    border-image-slice: 4 4 4 4;
    border-width: 4px 4px 4px 4px;}


  .floating-bar button {
    border-style: none;
    background-color: transparent; }

/* app notification buttons */
  .info button {
    border-color: shade(@info_bg_color, 0.8);
    color: @info_fg_color;
    background-image: none;
    background-color: shade(@info_bg_color, 1.08); }
    .info button:hover {
      border-color: shade(@info_bg_color, 0.85);
      background-color: shade(@info_bg_color, 1.1); }
    .info button:active {
      border-color: shade(@info_bg_color, 0.6);
      background-color: shade(@info_bg_color, 0.95); }
      .info button:active:hover {
        border-color: shade(@info_bg_color, 0.85); }
    .info button.close {
      color: @info_fg_color; }
      .info button.close:hover {
        background-color: alpha(@light_shadow, 0.2); }
      .info button.close:active {
        color: @info_fg_color;
        background-color: alpha(@dark_shadow, 0.1); }

  .warning button {
    border-color: shade(@warning_bg_color, 0.8);
    color: @warning_fg_color;
    background-image: none;
    background-color: shade(@warning_bg_color, 1.08); }
    .warning button:hover {
      border-color: shade(@warning_bg_color, 0.85);
      background-color: shade(@warning_bg_color, 1.1); }
    .warning button:active {
      border-color: shade(@warning_bg_color, 0.6);
      background-color: shade(@warning_bg_color, 0.95); }
      .warning button:active:hover {
        border-color: shade(@warning_bg_color, 0.85); }
    .warning button.close {
      color: @warning_fg_color; }
      .warning button.close:hover {
        background-color: alpha(@light_shadow, 0.2); }
      .warning button.close:active {
        color: @warning_fg_color;
        background-color: alpha(@dark_shadow, 0.1); }
  .question button {
    border-color: shade(@question_bg_color, 0.8);
    color: @question_fg_color;
    background-image: none;
    background-color: shade(@question_bg_color, 1.08); }
    .question button:hover {
      border-color: shade(@question_bg_color, 0.85);
      background-color: shade(@question_bg_color, 1.1); }
    .question button:active {
      border-color: shade(@question_bg_color, 0.6);
      background-color: shade(@question_bg_color, 0.95); }
      .question button:active:hover {
        border-color: shade(@question_bg_color, 0.85); }
    .question button.close {
      color: @question_fg_color; }
      .question button.close:hover {
        background-color: alpha(@light_shadow, 0.2); }
      .question button.close:active {
        color: @question_fg_color;
        background-color: alpha(@dark_shadow, 0.1); }

  .error button {
    border-color: shade(@error_bg_color, 0.8);
    color: @error_fg_color;
    background-image: none;
    background-color: shade(@error_bg_color, 1.08); }
    .error button:hover {
      border-color: shade(@error_bg_color, 0.85);
      background-color: shade(@error_bg_color, 1.1); }
    .error button:active {
      border-color: shade(@error_bg_color, 0.6);
      background-color: shade(@error_bg_color, 0.95); }
      .error button:active:hover {
        border-color: shade(@error_bg_color, 0.85); }
    .error button.close {
      color: @error_fg_color; }
      .error button.close:hover {
        background-color: alpha(@light_shadow, 0.2); }
      .error button.close:active {
        color: @error_fg_color;
        background-color: alpha(@dark_shadow, 0.1); }

  calendar.button {
    color: @theme_selected_bg_color; }

