check, radio, check:disabled, radio:disabled {
  margin: 4px;
  border-style: none;
  background-color: transparent; }

check, .check {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png")); }
  check:disabled, .check:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.png"), url("assets/checkbox-unchecked-insensitive@2.png")); }
  check:active, check:checked, .check:active, .check:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png")); }
    check:active:disabled, check:checked:disabled, .check:active:disabled, .check:checked:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"), url("assets/checkbox-checked-insensitive@2.png")); }
  check:indeterminate, .check:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), url("assets/checkbox-mixed@2.png")); }
    check:indeterminate:disabled, .check:indeterminate:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive.png"), url("assets/checkbox-mixed-insensitive@2.png")); }

radio, .radio {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png"), url("assets/radio-unchecked@2.png")); }
  radio:disabled, .radio:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive.png"), url("assets/radio-unchecked-insensitive@2.png")); }
  radio:active, radio:checked, .radio:active, .radio:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png"), url("assets/radio-checked@2.png")); }
    radio:active:disabled, radio:checked:disabled, .radio:active:disabled, .radio:checked:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive.png"), url("assets/radio-checked-insensitive@2.png")); }
  radio:indeterminate, .radio:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), url("assets/radio-mixed@2.png")); }
    radio:indeterminate:disabled, .radio:indeterminate:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive.png"), url("assets/radio-mixed-insensitive@2.png")); }


menuitem check, menuitem radio {
  min-height: 16px;
  min-width: 16px; }