/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/* Use master list-style-image for various icons, icon_size.css defines icon images within the master list-image file */

@import "icon_size.css";
:-moz-any(#bookmarks-menu-button,#history-panelmenu,
	#add-ons-button,#open-file-button,#save-page-button,#sync-button,#feed-button,#characterencoding-button,#e10s-button,
	#new-window-button,#new-tab-button,#privatebrowsing-button,#find-button,#print-button,#fullscreen-button,#developer-button,
	#preferences-button,#PanelUI-menu-button,#cut-button,#copy-button,#paste-button,#zoom-out-button,#zoom-in-button,
	#tabview-button,#email-link-button,#sidebar-button,#web-apps-button,#webide-button,#developer-button,#containers-panelmenu,
	#library-button,#bookmarks-toolbar-placeholder,#nav-bar-overflow-button,#alltabs-button ),
#downloads-button:not([indicator="true"]),#panic-button:not([open]),#pocket-button:not([open]),
#downloads-button .toolbarbutton-icon {
  list-style-image: url("image/toolbar_fx_ie6.png") !important;
}

/* Button icon borders and background gradient */
#nav-bar toolbarbutton:not([id="forward-button"]):not([id="back-button"]) .toolbarbutton-icon {
  background: unset !important;
  background-color: unset !important;
  padding: 3px !important;
  background-image: linear-gradient(transparent, #08207c, #8fdef2) !important;
  box-shadow: 0px 0px 1px #000 !important;
  border-radius: 2px !important;
  border: 1px solid #fff !important;
  border-bottom: 1px solid #ffffff !important;
  border-right: 1px solid #ffffff !important;
  min-height: 27px !important;
  min-width: 27px !important;
  margin: 0px !important;
}

/* Hovered icon background gradient */
#nav-bar toolbarbutton:not([id="forward-button"]):not([id="back-button"]):not([disabled]):hover .toolbarbutton-icon {
  background-image: linear-gradient(#fff, #98cfef) !important;
}

/* Remove padding and dark hover highlight from firefox hamburger menu */
#nav-bar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  min-height: 28px !important;
  min-width: 28px !important;
  background: unset !important;
  background-color: unset !important;
  padding: 0px !important;
  margin: 0px !important;
}

#PanelUI-menu-button {
  display: block !important;
  position: absolute !important;
  top: 2px !important;
}

/* Custom back,forward button image and size settings */

#back-button, #forward-button {
  border: 1px solid transparent !important;
  margin: 0px !important; 
  list-style-image: url("image/bf_ff3_strata.png") !important;
}

:-moz-any(#back-button,#forward-button) .toolbarbutton-icon,
:-moz-any(#back-button,#forward-button) .toolbarbutton-1 {
  background: unset !important;
  background-color: unset !important;
  padding: 0px !important;
  min-height: 36px !important;
  max-height: 36px !important;
}

#back-button .toolbarbutton-icon {
  min-width: 36px !important;
  max-width: 36px !important;
}

#forward-button .toolbarbutton-icon {
  min-width: 29px !important;
  max-width: 29px !important;
}

#back-button[disabled], #forward-button[disabled] {
  opacity: 1 !important;
  filter: saturate(75%)
}

#back-button:not([disabled]):hover, #forward-button:not([disabled]):hover {
  opacity: 1 !important;
  filter: saturate(175%);
}

#back-button {
  margin-right: -6px !important;
  margin-left: 1px !important;
  -moz-image-region: rect(0px, 36px, 32px, 0px) !important;
}

#forward-button	{
  margin-left: -6px !important;
  -moz-image-region: rect(0px, 66px, 32px, 36px) !important;
}

/* custom icon images */

.tabs-newtab-button {
  list-style-image: url("image/newtabff3.png") !important;
  -moz-image-region: rect(2px, 15px, 16px, 1px) !important;
}

#home-button .toolbarbutton-icon {
  list-style-image: url("image/prefs_home.png") !important;
}

#nav-bar toolbarbutton#reload-button .toolbarbutton-icon {
  background-image: linear-gradient(transparent, #5a9f54, #77dd73) !important;
  list-style-image: url("image/refresh_ie8.png") !important;
}

#nav-bar toolbarbutton#stop-button .toolbarbutton-icon {
  background-image: linear-gradient(transparent, #ff4444, #ffcccc) !important;
  list-style-image: url("image/stop.png") !important;
}

#tabs-newtab-button {
  list-style-image: url("image/newtabff11.png") !important;
}

#tabs-newtab-button .toolbarbutton-icon {
  height: 24px !important;
  width: 24px !important;
  padding: 3px !important;
}