/* File chooser hack to make the location bar 
   widget to match the window bg color */

filechooser stack box {
   background-color: transparent; }

filechooser stack button box {
   background-color: transparent; }


/* Nemo colors must be specified or drag and drop items 
   have black text on a black background */

.nemo-window .nemo-window-pane widget.entry:selected, .nemo-window .nemo-window-pane widget.entry:selected:focus {
   color: @theme_selected_fg_color;
   background-color: @theme_selected_bg_color; 
}


/* Fix meld scrolled window appearance */


/* Remove bottom black border from header boxes 
   since the toolbars already have a border */

/*
.header-box {
   margin-top: 0px;
   border-top: 1px solid;
   background-color: transparent; 
   box-shadow: none;
   border: none;
   box-shadow: 0 1px @light_shadow inset;
   border-top: 1px solid @dark_shadow;}
*/

/* caja and thunar various ui hacks */
.caja-side-pane {
   border: none;
   background-color: shade(@bg_color,1.05);
}

.caja-navigation-window > grid > paned > * {
   border-top: 1px solid transparent;
}

.caja-navigation-window entry {
  margin: 2px;
  margin-top: 1px;
}

.caja-navigation-window paned > box > paned > box > .horizontal {
   padding: 4px;
   padding-top: 4px;
   padding-bottom: 3px;
   margin-left: -3px;
   margin-right: -3px;
   margin-top: -4px;
   margin-bottom: -4px;
   border: none;
   box-shadow: none;
   color: @toolbar_fg_color;
   -GtkWidget-window-dragging: true;
   background-color: transparent;
   background-image: url("assets/toolbar.png");
   background-size: 100% 100%;
}


.caja-navigation-window grid > paned > box > notebook widget > box {
}

/* Fix thunar scrolled window borders */


