headerbar {
  border: none;
  box-shadow: none;
  padding: 4px;
  background-color: transparent;
}

headerbar:backdrop {
  background-color: transparent;
}

.titlebar {
  margin: 0px;
  background-image: url("assets/toolbar.png");
  background-size: 100% 100%;
  border: 0px solid @bg_color;
  border-bottom: 1px solid @light_shadow;
  box-shadow:none;
}
