headerbar {
  padding: 4px;
  background-color: transparent;
}

headerbar:backdrop {
  background-color: transparent;
}

.titlebar {
  background-image: url("assets/toolbar.png");
  background-size: 100% 100%;
}
