/* Unstyled for GTK no-CSD */
decoration {
  border: 5px solid #ff0000;
  border-image: url("assets/border.png");
  border-image-slice: 5 5 5 5;
  background-color: @bg_color;
  border-radius: 5px 5px 0 0;
}

.titlebar {
  padding-top: 0px;
  padding-bottom: 2px;
  background-image: linear-gradient(to bottom, #005cea, #0058ee 40%, #0058ee, #2379fa 90%, #0060fa );
  background-color: #026afe;
  border-bottom: 1px solid  #0143cf;
  box-shadow: 0 -1px #004ce2 inset;
}

headerbar {
   padding: 0;
   padding-right: 3px;
   padding-left: 3px;
}

headerbar entry{
   padding: 1px;
   box-shadow: none;
   border: 1px solid #c4bfa9;
}

.titlebar {
  color: @selected_fg_color;
  font-weight: bold;
 }

.titlebutton, .titlebutton:hover, .titlebutton:active {
  color: transparent;
  padding: 2px;
}


.close, .close:backdrop {
  background-image: url("assets/close-active.xpm"); }

.close:active {
  background-image: url("assets/close-pressed.xpm"); }

.close:hover {
  background-image: url("assets/close-prelight.xpm"); }

.minimize, .minimize:backdrop {
  margin-right: -4px;
  margin-left: 4px;
  background-image: url("assets/hide-active.xpm"); }

.minimize:active {
  background-image: url("assets/hide-pressed.xpm"); }

.minimize:hover {
  background-image: url("assets/hide-prelight.xpm"); }


.maximize, .restore, .maximize:backdrop, .restore:backdrop {
  margin-right: -2px;
  margin-left: 2px;
  background-image: url("assets/maximize-active.xpm"); }

.maximize:active, .restore:active {
  background-image: url("assets/maximize-pressed.xpm"); }

.maximize:hover, .restore:active {
  background-image: url("assets/maximize-prelight.xpm"); }


headerbar button.suggested-action, headerbar button.flat.suggested-action {
   border: none;
   box-shadow: none;
   color: #fff;
   background-color: transparent;
   margin-left: 0px;
   background-image: url("assets/task_button-default.png");
   background-size: 100% 100%;
   background-repeat: no-repeat; 
}

headerbar button.suggested-action:hover, headerbar button.flat.suggested-action:hover {
   border: none;
   box-shadow: none;
   color: #fff;
   background-color: transparent;
   margin-left: 0px;
   background-image: url("assets/task_button-default-hover.png");
   background-size: 100% 100%;
   background-repeat: no-repeat; 
}

headerbar button, headerbar button.flat, headerbar .linked button, headerbar .linked button:last-child {
   border: none;
   box-shadow: none;
   color: #fff;
   padding: 5px;
   background-color: transparent;
   margin-left: 0px;
   background-image: url("assets/task_button1.png");
   background-size: 100% 100%;
   background-repeat: no-repeat; 
}

headerbar button:disabled, headerbar button.flat:disabled {
   text-shadow: none;
   background-image: url("assets/task_button1.png");
   
}

headerbar button:hover, headerbar button.flat:hover {
   border: none;
   box-shadow: none;
   color: #fff;
   background-color: transparent;
   background-image: url("assets/task_button-hover.png");
   background-size: 100% 100%;
   background-repeat: no-repeat; 
}

headerbar button:active, headerbar button.flat:active, button.flat:checked, headerbar button:checked {
   border: none;
   box-shadow: none;
   color: #fff;
   background-color: transparent;
   background-image: none;
   background-image: url("assets/task_button-active.png");
   background-size: 100% 100%;
   background-repeat: no-repeat; 
}
