/* Combobox settings */
combobox {
  padding-right: 0px;
  box-shadow: none;
  border: 1px solid alpha(shade(@selected_bg_color,0.8),0.8); 
  background-color: shade(@bg_color,1.18); }

combobox:disabled {
   background-color: @bg_color;
   border: 1px solid alpha(shade(@selected_bg_color,0.8),0.8); }
