########################################################################
# Entry
########################################################################

style "scrolledwindow"
{


    xthickness = 2
    ythickness = 2
bg[NORMAL] = "#c0c0c0"
GtkScrolledWindow::scrollbar-spacing = 0
GtkScrolledWindow::scrollbars-within-bevel = 1
	engine "pixmap"
	{
### Scrolled Window ###
		image
		{
			function = SHADOW
			file = "assets/entry.png"
			border = {2, 2, 2, 2}
			stretch	= TRUE
			shadow = IN
		}
	}
}

style "list-header"
{

   engine "pixmap" 
	{

    	image
      		{
        		function        	= BOX
			recolorable    	= TRUE
			state				= NORMAL
			file            		= "assets/header.png"
			border          	= { 4, 4, 4, 4 }
			stretch         	= TRUE
		}

## Prelight
		image 
		{
			function = BOX
			state = PRELIGHT
			file = "assets/header.png"
			border = {5, 5, 5, 5}
			stretch = TRUE
		}

## Insensitive
		image 
		{
			function = BOX
			state = INSENSITIVE
			file = "assets/header.png"
			border = {5, 5, 5, 5}
			stretch = TRUE
		}

## Active
		image 
		{
			function = BOX
			state = ACTIVE
			file = "assets/header.png"
			border = {5, 5, 5, 5}
			stretch = TRUE
		}


	}
}
widget_class "*List" style "list-header"
widget_class "*GtkTree*" style "list-header"
widget_class "*GtkCList*" style "list-header"