########################################################################
# paned
########################################################################

style "paned"
{

	engine "pixmap"
	{
		image
		{
			function = HANDLE
			overlay_file = "assets/null.png"
			overlay_stretch = FALSE
			orientation = HORIZONTAL
		}
		image
		{
			function = HANDLE
			overlay_file = "assets/null.png"
			overlay_stretch = FALSE
			orientation = VERTICAL
		}
        }
}
widget_class "*<GtkPaned>*" style "paned"
widget "*GtkHPaned" style "paned"
