
#############################################################
# Panel
#############################################################

style "panel"
{


	bg_pixmap[NORMAL] = "assets/panel.png"

}
#widget "*XfcePanelWindow" style "panel"

style "panelbar"
{

	engine "pixmap"
	{
		image
		{
			function = HANDLE
			overlay_file = "assets/handle_h.png"
			overlay_stretch = FALSE
			orientation = HORIZONTAL
		}

		image
		{
			function = HANDLE
			overlay_file = "assets/handle_v.png"
			overlay_stretch = FALSE
			orientation = VERTICAL
		}
	}
}

widget_class "*PanelToplevel*"		style "panelbar"
class "Xfce*Panel*"		style "panelbar"
widget_class "*Xfce*Panel*"		style "panelbar"
widget_class "*PanelApplet*"		style "panelbar"
widget_class "*PanelWidget*"		style "panelbar"
#############################################################
# Panel buttons
#############################################################

style "panelbuttons"
{
	xthickness = 5
	ythickness = 2
	GtkWidget::focus_padding = 2
	engine "pixmap"
	{
		image
		{
			function = BOX
			recolorable = TRUE
			state = NORMAL
			file = "assets/panel_button.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			shadow = OUT
			recolorable = TRUE
			state = PRELIGHT
			file = "assets/panel_button.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = ACTIVE
			file = "assets/panel_button_checked.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = INSENSITIVE
			file = "assets/panel_button.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = SELECTED
			file = "assets/panel_button_checked.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = PRELIGHT
			file = "assets/panel_button_checked.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}
	}
}

widget "*tasklist*"		style "panelbuttons"
#############################################################
# THANKS TO merlwiz79 FOR THESE FIXES
#############################################################
widget_class "*Xfce*Panel*.GtkToggleButton"		style "panelbuttons"
widget_class "*Xfce*NetkTasklist*GtkToggleButton"		style "panelbuttons"


#############################################################
# Whisker Menu & Application Menu
#############################################################

style "whiskerbutton"
{
	xthickness = 0
	ythickness = 0
	GtkWidget::focus_padding = 1

	engine "pixmap" 
	{
		image
		{
			function = BOX
			detail = "buttondefault"
			file = "assets/null.png"
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = NORMAL
			file = "assets/null.png"
			border = { 0, 0, 0, 0 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			shadow = OUT
			recolorable = TRUE
			state = PRELIGHT
			file = "assets/null.png"
			border = { 0, 0, 0, 0 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			shadow = IN
			state = PRELIGHT
			file = "assets/null.png"
			border = { 0, 0, 0, 0 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = ACTIVE
			file = "assets/null.png"
			border = { 0, 0, 0, 0 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = INSENSITIVE
			file = "assets/null.png"
			border = { 0, 0, 0, 0 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = SELECTED
			file = "assets/null.png"
			border = { 0, 0, 0, 0 }
			stretch = TRUE
		}
	}
}

style "xfce4tray"
{
  engine "pixmap" {
    image {
      function = SHADOW
      file     = "assets/systray.png"
      border   = {2, 2, 3, 3}
      stretch  = TRUE
    }
  }
}

style "xfce4clock"
{
  engine "pixmap" {
    image {
      function = SHADOW
      file     = "assets/sysclock.png"
      border   = {1, 1, 1, 1}
      stretch  = TRUE
    }  
    image {
      function = SHADOW_GAP
      shadow = IN
      file     = "assets/sysclock.png"
      border   = {1, 1, 1, 1}
      stretch  = TRUE
    }
  }
}

#class "GtkFrame" style "test1"
widget_class "*<XfcePanelPlugin>*<GtkFrame>*" style "xfce4clock"
widget_class "*<XfceSystrayPlugin>*<GtkFrame>*" style "xfce4tray"
widget "*applicationmenu-button"		style "whiskerbutton" #for the application menu button.
widget "*whiskermenu-button"		style "whiskerbutton" #for Whisker menu button.
