########################################################################
# Button
########################################################################

style "button"
{
	engine "pixmap" 
    {
### Button ### 

## Normal
		image 
		{
			function = BOX
			state = NORMAL
			file = "assets/button.png"
			border = {5, 5, 5, 5}
			stretch = TRUE

		}
## Prelight
		image 
		{
			function = BOX
			state = PRELIGHT
			file = "assets/button.png"
			border = {5, 5, 5, 5}
			stretch = TRUE
		}

## Insensitive
		image 
		{
			function = BOX
			state = INSENSITIVE
			file = "assets/button.png"
			border = {5, 5, 5, 5}
			stretch = TRUE
		}

## Active
		image 
		{
			function = BOX
			state = ACTIVE
			file = "assets/button_checked.png"
			border = {5, 5, 5, 5}
			stretch = TRUE
		}

### Focus ###
		image 
                {
                        function = FOCUS
                        file = "assets/null.png"
                }
    }
}

class "GtkButton*" style "button"
