/* Style GTK CSD headerbar, only if GTK-NOCSD is used,
   otherwise uncomment the reference in gtk.css for gtk-csd.css
   to enable GTK client side decorations. */


/*
headerbar {
padding: 5px; }
*/


/* Main toolbars */
toolbar {
   padding: 2px;
   margin-top: 0px;
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   color: @toolbar_fg_color;
   background-color: @toolbar_bg_color; 
   border-top: 2px solid;
   border-bottom: 0px solid;
   border-right: 2px solid;
   border-left: 2px solid;
   border-image: url("assets/headerbox.png");
   border-image-slice: 2 2 2 2; }

toolbar:disabled {
   color: @theme_disabled_fg_color;
   background-color: @theme_disabled_bg_color; }

.primary-toolbar {
   padding: 2px;
   margin-top: 0px;
   margin-left: 0px;
   margin-right: 0px;
   border-left: 2px solid;
   border-right: 2px solid;
   border-bottom: 0;
   border-top: 2px solid;
   color: @toolbar_fg_color;
   -GtkWidget-window-dragging: true;
   color: @toolbar_fg_color;
   background-color: @toolbar_bg_color; 
   border-left: 2px solid;
   border-image: url("assets/headerbox.png");
   border-image-slice: 2 2 2 2; }


/* Floating bar */

.floating-bar {
   border-width: 1px;
   border-style: solid;
   border-color: @borders;
   border-radius: 0px;
   background-color: @theme_bg_color;
   color: @theme_fg_color; }

.floating-bar.top {
   border-top-width: 0px;
   border-top-right-radius: 0px;
   border-top-left-radius: 0px; }

.floating-bar.bottom {
   border-bottom-width: 0px;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px; }

.floating-bar.top.left, .floating-bar.bottom.left {
   border-left-width: 0px;
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px; }

.floating-bar.top.right, .floating-bar.bottom.right {
   border-right-width: 0px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px; }


/* Overlay bar */


.overlay-bar {
   background-color: alpha(@dark_shadow, 0.8);
   border-radius: 0;
   padding: 3px 6px;
   margin: 3px; }
  
.overlay-bar label {
   color: @tooltip_fg_color; }


/* Action bar */


actionbar {
padding: 2px; }


/* Info bar colors */


infobar {
  border: none; }

.info {
   border-width: 1px;
   border-style: solid;
   border-color: shade(@info_bg_color, 0.8);
   color: @info_fg_color;
   background-image: none;
   background-color: @info_bg_color; }

.warning {
   border-width: 1px;
   border-style: solid;
   border-color: shade(@warning_bg_color, 0.8);
   color: @warning_fg_color;
   background-image: none;
   background-color: @warning_bg_color; }

.question {
   border-width: 1px;
   border-style: solid;
   border-color: shade(@question_bg_color, 0.8);
   color: @question_fg_color;
   background-image: none;
   background-color: @question_bg_color; }

.error {
   border-width: 1px;
   border-style: solid;
   border-color: shade(@error_bg_color, 0.8);
   background-color: @error_bg_color;
   background-image: none;
   color: @error_fg_color; }
