/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


:root {
  --colored_menubar_text_color: inherit;
}

#toolbar-menubar:not(:-moz-lwtheme) {
  background-color: inherit !important;
}

#main-window:not([style*='--lwt-header-image']):-moz-lwtheme #toolbar-menubar {

  border: 0px !important;
}

#main-window #main-menubar {
        min-width: calc(5000px) !important;
        border-bottom: 2px solid !important;
        border-image: url("../../image/toolbar_handle_top.png") !important;
        border-image-slice: 2 2 2 2 !important;
}

@media (-moz-os-version:windows-win8),(-moz-os-version:windows-win10) {
  #main-window[tabsintitlebar] #titlebar-min .toolbarbutton-icon,
  #main-window[tabsintitlebar] #titlebar-max .toolbarbutton-icon,
  #main-window[tabsintitlebar] #titlebar-close:not(:hover) .toolbarbutton-icon {
	fill: var(--colored_menubar_text_color) !important;
	color: var(--colored_menubar_text_color) !important;
	stroke: var(--colored_menubar_text_color) !important;
  }
}

#nav-bar {
  border-top: 0px !important;
  box-shadow: unset !important;
}

#main-window:not(:-moz-lwtheme) #main-menubar > menu:not(:-moz-any(:hover,[open],[_moz-menuactive])) > :-moz-any(label,description) {
  color: var(--colored_menubar_text_color) !important;
}
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #main-menubar > menu:not(:-moz-any(:hover,[open],[_moz-menuactive])) > :-moz-any(label,description) {

}

#main-window:not(:-moz-lwtheme) #main-menubar > menu:-moz-any(:hover,[open],[_moz-menuactive]) {

}

#main-window #toolbar-menubar,
#main-window #main-menubar > menu,
#main-window #main-menubar {
  text-shadow: unset !important;
}
