/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

@import "icon_size.css";

:-moz-any(#back-button,#forward-button,#home-button,#stop-button,#reload-button,#bookmarks-menu-button,#history-panelmenu,
	#add-ons-button,#open-file-button,#save-page-button,#sync-button,#feed-button,#characterencoding-button,#e10s-button,
	#new-window-button,#new-tab-button,#privatebrowsing-button,#find-button,#print-button,#fullscreen-button,#developer-button,
	#preferences-button,#PanelUI-menu-button,#cut-button,#copy-button,#paste-button,#zoom-out-button,#zoom-in-button,
	#tabview-button,#email-link-button,#sidebar-button,#web-apps-button,#webide-button,#developer-button,#containers-panelmenu,
	#library-button,#bookmarks-toolbar-placeholder,#nav-bar-overflow-button,#alltabs-button ),
#downloads-button:not([indicator="true"]),#panic-button:not([open]),#pocket-button:not([open]),
#downloads-button .toolbarbutton-icon {
  list-style-image: url("image/toolbar_fx_ie6.png") !important;
}

#tabs-newtab-button {
  list-style-image: url("image/newtabff11.png") !important;
}

#tabs-newtab-button .toolbarbutton-icon {
  height: 24px !important;
  width: 24px !important;
  padding: 3px !important;
}

#downloads-button:not(:-moz-any([progress],[counter],[paused],[attention])) #downloads-indicator-progress-outer,
#downloads-button:not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter,
#downloads-button:not([attention]) > #downloads-indicator-anchor > #downloads-indicator-icon {
  background: -moz-image-rect(url("image/toolbar_fx3_strata.png"), 0, 198, 18, 180) center no-repeat !important;
}

#main-window[uidensity="compact"] #back-button {
  padding: 0px !important;
  margin-right: -4px !important;
}

#main-window[uidensity="compact"] #back-button .toolbarbutton-icon {
  padding: 5px !important; }

#main-window[uidensity="compact"] #back-button > .toolbarbutton-text,
#main-window[uidensity="compact"] #library-button > .toolbarbutton-text,
#main-window[uidensity="compact"] #history-panelmenu > .toolbarbutton-text {
  display: -moz-box !important;
  margin-left: -5px !important;
}

#main-window:not([uidensity="compact"]) #back-button .toolbarbutton-icon {
  display: -moz-box !important;
  margin-bottom: -3px !important;
  margin-top: -3px !important;
  border-radius: 0px !important;
}


:-moz-any(#forward-button,#home-button,#stop-button,#reload-button,#bookmarks-menu-button,#history-panelmenu,
        #privatebrowsing-button,#find-button,#print-button,#fullscreen-button,#developer-button,
	#preferences-button,#cut-button,#copy-button,#paste-button,#zoom-out-button,#zoom-in-button,
	#tabview-button,#email-link-button,#sidebar-button,#web-apps-button,#webide-button,#developer-button,#containers-panelmenu,
	#library-button,#bookmarks-toolbar-placeholder,#nav-bar-overflow-button,#alltabs-button ) .toolbarbutton-icon {
  padding: 5px !important;
}

#PlacesChevron {
    max-height: 10px !important;
    padding: 0px !important; 
}

/*#back-button .toolbarbutton-icon {
  padding: 0px !important;
  min-height: 36px !important;
  min-width: 36px !important;
  max-height: 36px !important;
  max-width: 36px !important;
}

#forward-button .toolbarbutton-icon {
  padding: 0px !important;
  min-height: 36px !important;
  min-width: 29px !important;
  max-height: 36px !important;
  max-width: 29px !important;
}

#back-button[disabled], #forward-button[disabled] {
  opacity: 1 !important;
  filter: saturate(75%)
}

#back-button:not([disabled]):hover, #forward-button:not([disabled]):hover {
  opacity: 1 !important;
  filter: saturate(175%);
}

#back-button {
  border: none !important;
  margin: 0px !important;
  margin-right: -6px !important;
  list-style-image: url("image/bf_ff3_strata.png") !important;
  -moz-image-region: rect(0px, 36px, 32px, 0px) !important;
}


#forward-button	{
  border: none !important;
  margin: 0px !important;
  margin-left: -6px !important;
  list-style-image: url("image/bf_ff3_strata.png") !important;
  -moz-image-region: rect(0px, 66px, 32px, 36px) !important;
}

#back-button:hover,
#forward-button:hover {
   border: none !important;
}

#back-button > .toolbarbutton-text,
#forward-button > .toolbarbutton-text {
   visibility: collapse !important;
}


*/