/* Disable Megabar Animation */

#urlbar > #urlbar-background {
    margin: 0px !important;
    animation-name: none !important;
    border: none !important;
    animation: none !important;
    border-radius: 0 !important;
    background-image: url("image/comboboxbutton.png") !important;
    background-repeat: no-repeat !important;
    padding: 0px !important; 
    background-position: right center !important; 
    box-shadow: none !important;
    background-color: @base_color !important;
    border: solid !important;
    border-radius: 0 !important;
    border-width: 2px 2px 2px 2px !important;
    border-image: url("image/combobox.png") !important;
    border-image-slice: 2 2 2 2 !important; 
    min-height: 25px !important;
    height: 25px !important;
}

#search-container {
   margin-top: -4px !important;
}

#searchbar {
    margin: 0px !important;
    animation-name: none !important;
    border: none !important;
    animation: none !important;
    border-radius: 0 !important;
    padding: 0px !important; 
    box-shadow: none !important;
    background-color: @base_color !important;
    border: solid !important;
    border-radius: 0 !important;
    border-width: 2px 2px 2px 2px !important;
    border-image: url("image/combobox.png") !important;
    border-image-slice: 2 2 2 2 !important; 
    min-height: 25px !important;
    height: 25px !important;
}

#urlbar[open] > #urlbar-background {
    background-image: url("image/comboboxbutton_pressed.png") !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

#page-action-buttons {
   margin-right: 17px !important; }

#urlbar-go-button  {
    margin: 3px !important;
    margin-right: -16px !important;
    padding: 0px !important;
    border: solid !important;
    min-width: 25px !important;
    background-color: #d4d0c8 !important;
    border-radius: 0 !important;
    border-width: 2px 2px 2px 2px !important;
    border-image: url("image/comboboxbutton.png") !important;
    color: #000 !important;
    border-image-slice: 2 2 2 2 !important; }

#urlbar,
#urlbar[breakout][breakout-extend][breakout-extend-animate] {
    margin-top: -3px !important;
    padding-left: 3px !important; }

#main-window[uidensity="compact"] #urlbar,
#main-window[uidensity="compact"] #urlbar[breakout][breakout-extend][breakout-extend-animate] {
    margin-top: -5px !important;
    padding-left: 3px !important; }

#urlbar[breakout-extend] {
    top:calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left:calc((var(--urlbar-toolbar-width) - var(--urlbar-width)) / 2) !important;
    width:100% !important }

#urlbar[breakout-extend] #urlbar-input-container {
    height:calc(var(--tab-min-height) - 3px) !important;
    padding:0px!important }

#main-window:not([uidensity="compact"]) #urlbar #urlbar-input-container,
#main-window:not([uidensity="compact"]) #urlbar[breakout-extend] #urlbar-input-container {
    margin-top: -2px !important;
}

/* Reduce row paddings to make them more compact */
.urlbarView-row {
    padding: 0px !important;
}

.urlbarView{
    margin-left:-2px!important;
    width:100%!important;
    background-color: #ffffff !important;
    border: 1px solid #000 !important;
    border-top: none !important;
}

/* identity box */
#identity-box {
  padding-inline-start: 4px !important;
}