########################################################################
# Entry
########################################################################

style "entry"
{
	GtkWidget::interior_focus = 0
        base[INSENSITIVE] = @bg_color
	engine "pixmap"
	{
### Entry ###
		image
		{
			function = SHADOW
			detail = "entry"
                        state = NORMAL
			file = "assets/entry.png"
			border = {2, 2, 2, 2}
			stretch	= TRUE
		}

		image
		{
			function = SHADOW
			detail = "entry"
                        state = INSENSITIVE
			file = "assets/entry_ins.png"
			border = {2, 2, 2, 2}
			stretch	= TRUE
		}

		image
		{
			function = SHADOW
			detail = "entry"
                        state = NORMAL
			file = "assets/entry.png"
			border = {2, 2, 2, 2}
			stretch	= TRUE
		}

		image
		{
			function = SHADOW
			detail = "entry"
                        state = INSENSITIVE
			file = "assets/entry_ins.png"
			border = {2, 2, 2, 2}
			stretch	= TRUE
		}

		
### Focus ###
		image
    	{
			function = FOCUS
			detail = "entry"
			file = "assets/entry.png"
			border = {2, 2, 2, 2}
			stretch	= TRUE
    	}
	}
}

class "GtkEntry*" style "entry"

