/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* NOTE  ********************************************************************************/
/* Variables are set inside '.\config\' folders CSS files, if complete package is used! */

:root {
  --classic_squared_tabs_tab_height: 26px;
  --classic_squared_tabs_tab_text_color: black;
  --classic_squared_tabs_tab_text_shadow: transparent;

  --tab-min-height: var(--classic_squared_tabs_tab_height) !important;
  --mltabs-newtab-height: calc( var(--classic_squared_tabs_tab_height) + 1px ) !important;
  --tab-min-height_tnot: calc( var(--classic_squared_tabs_tab_height) - 1px ) !important;
  --space_below_content: calc( var(--classic_squared_tabs_tab_height) + 1px ) !important;
}

#TabsToolbar { visibility: collapse !important; }

 toolbar#TabsToolbar { */
   -moz-appearance: none !important; */
   border-top: 0px !important; */
   border-bottom: 0px !important; */
   background-color: rgb(255,0,0) !important; */
} */


/* remove default tab colors */
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"],
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-background {
  background: unset !important;
  border: unset !important;
}

/*******************************************/
/**** default themes tab colors [start] ****/
/*******************************************/

/* black tab text color */
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab {
  color: #000000 !important;
  text-shadow: 1px 1px 1px var(--classic_squared_tabs_tab_text_shadow) !important;
}


/* selected tabs color */
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-content[selected="true"] {
   border: 2 2 2 2 !important;
   border-image: url("../../image/tab-top-active.png") !important;
   border-image-width: 30px 7px 7px 7px !important;
   border-image-slice: 30 7 7 7 !important;
   margin-right: -1px;
}

/* selected tabs color */
#TabsToolbar .tabbrowser-tab:not(:-moz-lwtheme):not([selected]) .tab-content {
   border: 2 2 2 2 !important;
   border-image: url("../../image/tab-top.png") !important;   
   border-image-width: 24px 8px 8px 8px !important;
   border-image-slice: 24 8 8 8 !important;
   border-bottom: #000000 1px solid !important;
   margin-left: -1px;
   margin-right: -1px;

}

#TabsToolbar:not(:-moz-lwtheme) .tabs-newtab-button:hover,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:hover .tab-content:not([selected="true"])> {
   border: 0 0 0 0 !important;
   border-image: url("../../image/tab-top.png") !important;
   border-image-width: 24px 8px 8px 8px !important;
   border-image-slice: 24 8 8 8 !important;
   border-bottom: #000000 1px solid !important;
   margin-left:-1px
   margin-right: -1px;
}

#TabsToolbar:not(:-moz-lwtheme) .tabs-newtab-button,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-content {
   background-color: #c0c0c0 !important;
   border: 0 0 0 0 !important;
   border-image: url("../../image/tab-top2.png") !important;
   border-image-width: 22px 8px 8px 8px !important;
   border-image-slice: 22 8 8 8 !important;
   border-bottom: #000000 1px solid !important;
   margin-right: -1px;
}

#TabsToolbar .tabs-newtab-button {
   background-color: #c0c0c0 !important;
   border: 0 0 0 0 !important;
   border-image: url("../../image/tab-top2.png") !important;
   border-image-width: 22px 8px 8px 8px !important;
   border-image-slice: 22 8 8 8 !important;
   margin-right: -1px;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[pending] .tab-content {
   background-color: #c0c0c0 !important;
   border: 0 0 0 0 !important;
   border-image: url("../../image/tab-top2.png") !important;
   border-image-width: 22px 8px 8px 8px !important;
   border-image-slice: 22 8 8 8 !important;
   margin-right: -1px;
}

