########################################################################
# Scrollbar
########################################################################

style "scrollbar" 
{
	GtkRange::slider-width = 17
   	GtkRange::stepper-size = 17
        GtkRange::trough-border = 0
	GtkCheckButtonClass::indicator-size = 17
   	GtkRadioButtonClass::indicator-size = 17
   	
   	GtkScrollbar::min_slider_length = 44
	

	engine "pixmap" 
	{
### Trough ###
		image 
		{
            function = BOX
            detail = "trough"
            file = "assets/scrollbar_trough.png"
            border = {0, 0, 0, 0}
            stretch = FALSE
            orientation = VERTICAL
        }
        
        image 
		{
            function = BOX
            detail = "trough"
            file = "assets/scrollbar_trough.png"
            border = {0, 0, 0, 0}
            stretch = FALSE
            orientation = HORIZONTAL
        }

### Scrollbar ###
        image 
		{
			function = SLIDER
			file = "assets/scrollbar.png"
			border = {3, 3, 3, 3}
			stretch = TRUE
			orientation = HORIZONTAL
		}
	
        image 
		{
            function = SLIDER
            file = "assets/scrollbar.png"
            border = {3, 3, 3, 3}
            stretch = TRUE
            orientation = VERTICAL
        }
        
### Arrow UP ###

## Normal
		image 
		{
            function = ARROW
            state = NORMAL
            overlay_file = "assets/scroll_up_button.png"
            overlay_stretch = FALSE
            arrow_direction = UP
        }
        
## Prelight
		image 
		{
            function = ARROW
            state = PRELIGHT
            overlay_file = "assets/scroll_up_button.png"
            overlay_stretch = FALSE
            arrow_direction = UP
        }
        
## Insensitive
		image 
		{
            function = ARROW
            state = INSENSITIVE
            overlay_file = "assets/scroll_up_button.png"
            overlay_stretch = FALSE
            arrow_direction = UP
        }

## Active
        image 
		{
            function = ARROW
            state = ACTIVE
            overlay_file = "assets/scroll_up_button_active.png"
            overlay_stretch = FALSE
            arrow_direction = UP
        }
        
### Arrow DOWN ###       
        
## Normal
		image 
		{
            function = ARROW
            state = NORMAL
            overlay_file = "assets/scroll_down_button.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
        }
        
## Prelight
		image 
		{
            function = ARROW
            state = PRELIGHT
            overlay_file = "assets/scroll_down_button.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
        }
        
## Insensitive
		image 
		{
            function = ARROW
            state = INSENSITIVE
            overlay_file = "assets/scroll_down_button.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
        }

## Active
        image 
		{
            function = ARROW
            state = ACTIVE
            overlay_file = "assets/scroll_down_button_active.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
        }

### Arrow LEFT ###     

## Normal
		image 
		{
            function = ARROW
            state = NORMAL
            overlay_file = "assets/scroll_left_button.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
        }
        
## Prelight
		image 
		{
            function = ARROW
            state = PRELIGHT
            overlay_file = "assets/scroll_left_button.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
        }
        
## Insensitive
		image 
		{
            function = ARROW
            state = INSENSITIVE
            overlay_file = "assets/scroll_left_button.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
        }

## Active
        image 
		{
            function = ARROW
            state = ACTIVE
            overlay_file = "assets/scroll_left_button_active.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
        }

### Arrow RIGHT ###       

## Normal
		image 
		{
            function = ARROW
            state = NORMAL
            overlay_file = "assets/scroll_right_button.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
        }
        
## Prelight
		image 
		{
            function = ARROW
            state = PRELIGHT
            overlay_file = "assets/scroll_right_button.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
        }
        
## Insensitive
		image 
		{
            function = ARROW
            state = INSENSITIVE
            overlay_file = "assets/scroll_right_button.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
        }

## Active
        image 
		{
            function = ARROW
            state = ACTIVE
            overlay_file = "assets/scroll_right_button_active.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
        }    
    }
}

class "GtkScrollbar*" style "scrollbar"

