/* File chooser hack to make the location bar 
   widget to match the window bg color */


filechooser stack {
   background-color: @theme_bg_color; }

filechooser stack box {
   background-color: @theme_bg_color; }

filechooser stack button box {
   background-color: @button_bg_color; }

.horizontal.dialog-actionbox {
   background-color: @theme_bg_color; }


/* Nemo hacks:
   Add padding below toolbar, hide separators since the 
   scrolled window frames act as separators, menu items must
   be reapplied after making separators transparent */


.nemo-window sidebar separator {
   background-color: transparent; }

.nemo-window menu separator {
   box-shadow: 0 1px @light_shadow;
   background-color: @dark_shadow; }

.nemo-window menuitem separator {
   color: @borders;
   border-style: none;
   border-width: 0px; }

.nemo-window toolbar {
   margin-bottom: 2px; }

/* Nemo colors must be specified or drag and drop items 
   have black text on a black background */

.nemo-window .nemo-window-pane widget.entry:selected, .nemo-window .nemo-window-pane widget.entry:selected:focus {
   color: @theme_selected_fg_color;
   background-color: @theme_selected_bg_color; 
}


/* Fix meld scrolled window appearance */


.meld-notebook scrolledwindow {
   margin: 0; }


/* Remove bottom black border from header boxes 
   since the toolbars already have a border */


.header-box {
   margin-top: 0px;
   border-top: 2px solid;
   border-bottom: 2px solid;
   border-right: 2px solid;
   border-left: 2px solid;
   border-image: url("assets/headerbox.png");
   border-image-slice: 2 2 2 2; 
   background-color: @toolbar_bg_color; }


/* Remove application dialog image icon */
messagedialog image {
 margin-left: -1000px;
}


