/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* NOTE  ********************************************************************************/
/* Variables are set inside '.\config\' folders CSS files, if complete package is used! */

:root {
  --classic_squared_tabs_tab_height: 32px;
  --classic_squared_tabs_tab_text_color: black;
  --classic_squared_tabs_tab_text_shadow: transparent;

  --tab-min-height: var(--classic_squared_tabs_tab_height) !important;
  --mltabs-newtab-height: calc( var(--classic_squared_tabs_tab_height) + 1px ) !important;
  --tab-min-height_tnot: calc( var(--classic_squared_tabs_tab_height) - 1px ) !important;
  --space_below_content: calc( var(--classic_squared_tabs_tab_height) + 1px ) !important;
}


/*
#TabsToolbar { visibility: collapse !important; }*/


 toolbar#TabsToolbar { 
   -moz-appearance: none !important; 
   border-top: 0px !important; 
   border-bottom: 0px !important; 
   background-color: inherit !important;
   margin-bottom: 0 !important;
   max-height: 26px !important;
} 

/*

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"],
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-background {
  background: unset !important;
  border: unset !important;
}

*/

/*******************************************/
/**** default themes tab colors [start] ****/
/*******************************************/



/* selected tabs color */
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-content[selected="true"] {
   border: 2 2 0 2 !important;
   background-image: linear-gradient(#bde1f5, #d4d0c8) !important;
   border-image: url("../../image/button.png") !important;
   border-image-width: 2px 2px 0px 2px !important;
   border-image-slice: 2 2 0 2 !important;
   margin-right: -1px;
   margin-left: 0 !important;
   max-height: 26px !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-content[selected="true"]:hover {
   border: 2 2 0 2 !important;
   background-image: linear-gradient(#d9fffa, #d4d0c8) !important;
   border-image: url("../../image/button.png") !important;
   border-image-width: 2px 2px 0px 2px !important;
   border-image-slice: 2 2 0 2 !important;
   margin-right: -1px;
   margin-left: 0 !important;
   max-height: 26px !important;
}

#TabsToolbar .tabbrowser-tab:not(:-moz-lwtheme):not([selected]) .tab-content:hover {
   border: 2 2 0 2 !important;
   background-image: linear-gradient(#f2d799, #d4d0c8) !important;
   border-image: url("../../image/button.png") !important;
   border-image-width: 2px 2px 0px 2px !important;
   border-image-slice: 2 2 0 2 !important;
   margin-right: -1px;
   margin-left: 0 !important;
   max-height: 26px !important;
}

/* selected tabs color */
#TabsToolbar .tabbrowser-tab:not(:-moz-lwtheme):not([selected]) .tab-content {
   border: 2 2 0 2 !important;
   background-image: linear-gradient(#f5bcbc, #d4d0c8) !important;
   border-image: url("../../image/button.png") !important;
   border-image-width: 2px 2px 0px 2px !important;
   border-image-slice: 2 2 0 2 !important;
   border-bottom: #000000 1px solid !important;
   margin-left: 0 !important;
   margin-right: -1px;
   max-height: 26px !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabs-newtab-button:hover,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:hover .tab-content:not([selected="true"])> {
   border: 0 0 0 0 !important;
   border-image: url("../../image/button.png") !important;
   border-image-width: 2px 2px 0px 2px !important;
   border-image-slice: 2 2 0 2 !important;
   border-bottom: #000000 1px solid !important;
   margin-left:-1px;
   margin-right: -1px;
   max-height: 26px !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabs-newtab-button,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-content {
   border: 2 2 0 2 !important;
   border-image: url("../../image/button.png") !important;
   border-image-width: 2px 2px 0px 2px !important;
   border-image-slice: 2 2 0 2 !important;
   border-bottom: #000000 1px solid !important;
   margin-right: -1px;
   margin-left: -1px !important;
   height: 2px !important;
   max-height: 26px !important;
}

#TabsToolbar .tabs-newtab-button {
   border: 0 0 0 0 !important;
   min-width: 30px !important;
   border-image: url("../../image/button.png") !important;
   border-image-width: 2px 2px 0px 2px !important;
   border-image-slice: 2 2 0 2 !important;
   margin-right: -1px;
   margin-left: -1px !important;
   max-height: 26px !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[pending] .tab-content {
   border: 0 0 0 0 !important;
   border-image: url("../../image/button.png") !important;
   border-image-width: 2px 2px 0px 2px !important;
   border-image-slice: 2 2 0 2 !important;
   margin-right: -1px;
   margin-left: -1px;
   max-height: 26px !important;
}

