/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


.tabbrowser-tab:not([selected="true"]) .tab-close-button {
  visibility: collapse !important;
}

#tabbrowser-tabs .tabbrowser-tab:not([pinned])[selected="true"] .tab-close-button {
  visibility: visible !important;
  display: block !important;
}

