/* Disable Megabar Animation */
#urlbar {
    margin-top: -2px !important;
    height: 25px !important;
    padding: 0px !important;
}

#main-window:not([uidensity="compact"]) #urlbar {
    margin-top: 0px !important;
    height: 25px !important;
    padding: 0px !important;
}

#urlbar > #urlbar-background {
    animation-name: none !important;
    animation: none !important;
    background-image: url("image/comboboxbutton.png") !important;
    background-repeat: no-repeat !important;
    padding: 2px !important; 
    background-position: right center !important; 
    box-shadow: none !important;
    border: solid !important;
    border-radius: 0 !important;
    border-width: 2px 2px 2px 2px !important;
    border-image: url("image/combobox.png") !important;
    border-image-slice: 2 2 2 2 !important; 
    height: 25px !important;
}

#main-window[uidensity="compact"] #searchbar {
    margin-left: 4px !important;
}

#urlbar[open] > #urlbar-background {
    background-image: url("image/comboboxbutton_pressed.png") !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

#page-action-buttons {
   margin-right: 17px !important; }

#urlbar-go-button {
    margin-right: -16px !important;
    padding: 4px !important;
    border: solid !important;
    color: #000 !important;
    min-width: 25px !important;
    background-color: #d4d0c8 !important;
    border-radius: 0 !important;
    border-width: 2px 2px 2px 2px !important;
    border-image: url("image/comboboxbutton.png") !important;
    border-image-slice: 2 2 2 2 !important; }
}

#urlbar,
#urlbar[breakout][breakout-extend][breakout-extend-animate] {
    padding-left: 3px !important; }

#main-window[uidensity="compact"] #urlbar, #main-window[uidensity="compact"] #urlbar-input-container
#main-window[uidensity="compact"] #urlbar[breakout][breakout-extend][breakout-extend-animate] {
    padding-left: 3px !important; }

#urlbar[breakout-extend] {
    top:calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left:calc((var(--urlbar-toolbar-width) - var(--urlbar-width)) / 2) !important;
    width:100% !important }

#urlbar-input-container,
#urlbar[breakout-extend] #urlbar-input-container {
    margin-top: -3px !important;
    height: 100% !important;
    padding: 1px!important }

#main-window[uidensity="compact"] #urlbar-input-container,
#main-window[uidensity="compact"] #urlbar[breakout-extend] #urlbar-input-container {
    margin-top: 0px !important;
    height: 100% !important;
    padding:1px!important }

/* Reduce row paddings to make them more compact */
.urlbarView-row {
    padding: 0px !important;
}

.urlbarView{
    margin-left:-2px!important;
    width:100%!important;
    background-color: #ffffff !important;
    border: 1px solid #000 !important;
    border-top: none !important;
}

#cfr-label-container {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

#main-window[uidensity="compact"] #search-container {
  margin-left: 0px !important;
  border: 0px solid !important;
  border-left: 7px solid !important;
  border-image: url("image/toolbar_handle.png") !important;
  border-image-slice: 2 2 2 7 !important;
}

#searchbar {
    margin-top: -1px !important;
    margin-left: 0px !important;
    animation-name: none !important;
    border: none !important;
    animation: none !important;
    border-radius: 0 !important;
    padding: 0px !important; 
    box-shadow: none !important;
    background-color: @base_color !important;
    border: solid !important;
    border-radius: 0 !important;
    border-width: 2px 2px 2px 2px !important;
    border-image: url("image/combobox.png") !important;
    border-image-slice: 2 2 2 2 !important; 
    min-height: 25px !important;
    height: 25px !important;
}